

    <div style="display:inline-flex; " class="ui fixed selectable single line celled table" >
        <a style="padding: 2%;" href="./home.html">My cards</a>
        <a style="padding: 2%;" href="./buy.html">BUY</a>
        <button id="bpDeco" onclick="localStorage.removeItem('token');location.href = './authentification.html'">Disconnect</button>
    </div>
    <link rel="stylesheet" type="text/css" href="../css/menu.css">