<!DOCTYPE html>
<html>
    <head>
        <!-- Standard Meta -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

        <!-- Site Properties -->
        <title>BUY</title>

        <link rel="stylesheet" type="text/css" href="semantic.min.css">
        <link rel="stylesheet" type="text/css" href="custom.css">

    </head>

    <body>
        <div id="menu"></div>
        <div class="ui clearing segment">
            <div id="user"></div>
            <h3 class="ui left floated header">
                <div class="content">
                    💸 BUY
                    <div class="sub header">Buy a new card !</div>
                </div>
            </h3>
        </div>


        <div class="ui grid">
            <div class="ten wide column">
               <!--  <h3 class="ui center aligned header"> My Card List</h3> -->
                 <h3 class="ui aligned header">List of cards on sale</h3>
                <!------------------------------------------------------------------------->
                <!--    ----------------------------- List ----------------------------- -->
                <!------------------------------------------------------------------------->
                <table class="ui fixed selectable single line celled table" id="cardListId">
                    <thead>
                        <tr>
                            <th class="three wide">Name</th>
                            <th class="three wide">Description</th>
                            <th>Family</th>
                            <th>HP</th>
                            <th>Energy</th>
                            <th>Defence</th>
                            <th>Attack</th>
                            <th>Price</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="tableContent">
                        <template id="row">
                            <tr  >

                                <td>
                                    <img  class="ui avatar image" src={{img_src}}> <span>{{name}} </span>
                                </td>
                                <td >{{description}}</td>
                                <td>{{family_name}}</td>
                                <td>{{hp}}</td>
                                <td>{{energy}}</td>
                                <td>{{defense}}</td>
                                <td>{{attack}}</td>
                                <td>{{price}}$</td>
                                <td>
                                    <div class="ui vertical animated button" id={{buyId}} onclick="buy(event, this.id)"  tabindex="0">
                                        <div class="hidden content">{{status}}</div>
                                        <div class="visible content">
                                            <i class="shop icon"></i>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </div>
            <div class=" five wide column">

                <!------------------------------------------------------------------------->
                <!--    ----------------------------- CARD ----------------------------- -->
                <!------------------------------------------------------------------------->
                <div id="card"></div>

            </div>

        </div>

        <script src="jquery-3.3.1.min.js"></script>
        <script src="semantic.js"></script>
        <script src="decodeToken.js"></script>
        <script src="menu.js"></script>
        <script src="buy.js"></script>
        <script src="user.js"></script>

    </body>
</html>