<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>FIGHT</title>
    <link rel="stylesheet" type="text/css" href="semantic.min.css">
    <link rel="stylesheet" type="text/css" href="custom.css">
    <link rel="stylesheet" type="text/css" href="authentification.css">
</head>

<body>
    <div id="menu"></div>
    <div class="ui clearing segment">
        <div id="user"></div>
        <h3 class="ui left floated header">
            <div class="content">
                ⚔️ FIGHT
                <div class="sub header">Join a room to fight !</div>
            </div>
        </h3>
    </div>

    <div class="ui grid">
        <div class="ten wide column">
            <!--  <h3 class="ui center aligned header"> My Card List</h3> -->
            <h3 class="ui aligned header">List of game room</h3>

            <button id="btCreate" onclick="document.getElementById('id01').style.display='block'"
                style="width:auto;">Create Room</button>
            <div id="id01" class="modal">
                <form id="form" class="modal-content animate">
                    <div class="imgcontainer">
                        <span onclick="document.getElementById('id01').style.display='none'" class="close"
                            title="Close Modal">x</span>
                    </div>

                    <div class="container">
                        <span><b>Price</b></span>
                        <input type="text" placeholder="Enter price" name="price" required>

                        <span><b>Card</b></span>
                        <select name="id_deck1" id="listCard">
                            <option valeur="">Choose your card</option>
                        </select>

                        <button type="button" id="create">Create</button>
                    </div>

                    <div class="container" style="background-color:#f1f1f1">
                        <button type="button" class="cancelbtn">Cancel</button>
                    </div>
                </form>
            </div>
            <!------------------------------------------------------------------------->
            <!--    ----------------------------- List ----------------------------- -->
            <!------------------------------------------------------------------------->
            <table class="ui fixed selectable single line celled table" id="fightListId">
                <thead>
                    <tr>
                        <th class="three wide">Price</th>
                        <th class="three wide">Host</th>
                        <th>Host Card</th>
                        <th>Host Card HP</th>
                        <th>Your Card</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="tableContent">
                    <template id="row">
                        <tr>
                            <td>{{price}}</td>
                            <td>{{host}}</td>
                            <td>{{hostCardName}}</td>
                            <td>{{hostCardHp}}</td>
                            <td>
                                <select name="yourCard" class="selectCard" id="select_{{fightId}}"></select>
                            </td>
                            <td>
                                <div class="ui vertical animated button sellButton" id={{fightId}}  tabindex="0" onclick="fight(event, this.id)" >
                                        <span>⚔️</span>
                                </div>
                            </td>
                        </tr>
                    </template>
                </tbody>
            </table>
        </div>
        <div class=" five wide column">
            <!------------------------------------------------------------------------->
            <!--    ----------------------------- CARD ----------------------------- -->
            <!------------------------------------------------------------------------->
            <div id="card"></div>
        </div>
    </div>
    <script src="jquery-3.3.1.min.js"></script>
    <script src="semantic.js"></script>
    <script src="decodeToken.js"></script>
    <script src="menu.js"></script>
    <script src="api.js"></script>
    <script src="fight.js"></script>
    <script src="user.js"></script>
</body>

</html>